.generation {
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  height: 25px;
  color: var(--text-color);

  .generationNumber {
    flex: 2;
    min-width: 50px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .resetGame {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    padding: 0;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    border: 0;
  }
}
