$primary-color: var(--alive-cell-color);
$border-offset: 5px;

.fancyButton {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 15px;
  color: var(--text-color);
  width: 100px;
  height: 35px;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
  border: 0;
  outline: none;

  &::after,
  &::before {
    content: "";
    position: absolute;
    border: 1px solid $primary-color;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: top 0.35s cubic-bezier(1, 2.83, 0.81, 1.48),
      right 0.35s cubic-bezier(1, 2.83, 0.81, 1.48),
      bottom 0.35s cubic-bezier(1, 2.83, 0.81, 1.48),
      left 0.35s cubic-bezier(1, 2.83, 0.81, 1.48);
  }

  &::after {
    left: -$border-offset;
    right: -$border-offset;
  }

  &::before {
    top: -$border-offset;
    bottom: -$border-offset;
  }

  &:hover {
    background-color: rgba(#fcf3ec, 0.1);
    transition: 2s;

    &::after {
      left: 0;
      right: 0;
    }

    &::before {
      top: 0;
      bottom: 0;
    }
  }
}
