body {
  font-family: Times New Roman;
  user-select: none;
  font-size: 7px;
}

@media (min-width: 400px) {
  body {
    font-size: 10px;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 15px;
  }
}
