body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Orbitron;
  user-select: none;
  --main-color: #e55743;
  --text-color: #373837;
}

@media (min-width: 400px) {
  body {
    font-size: 10px;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 15px;
  }
}
